.card_price-tier .image-container { 
    max-width: 90px;
    padding: 20px; 
    border-radius: 50%; 
    background-color: #E7F1F4;
} 

body[data-component-hud-active=true] [data-hud="core/priceTierCard"] .hud-controls { 
    top: -60px;
}