@media(min-width:1280px) {

    .process .v-col.left { 
        width: 40%;
    }

    .process .v-col.right { 
        width: 60%;
    } 

    .process .textarea.vertical-align { 
        max-width: 100%;
    }

}